/************************************ Roles Pagination **************************************/
#rolesResult .rolesListPagn ul li.inactive,
 #rolesResult .rolesListPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#rolesResult .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#rolesResult .rolesListPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#rolesResult .rolesListPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#rolesResult .rolesListPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************** Users Pagination *****************************************/
#usersResult .usersListPagn ul li.inactive,
 #usersResult .usersListPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#usersResult .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#usersResult .usersListPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#usersResult .usersListPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#usersResult .usersListPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************ Outlet Pagination **************************************/
#outletReslt .outletListPagn ul li.inactive,
 #outletReslt .outletListPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#outletReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#outletReslt .outletListPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#outletReslt .outletListPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#outletReslt .outletListPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************** Category Pagination *****************************************/
#categoryReslt .catgVewPagn ul li.inactive,
 #categoryReslt .catgVewPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#categoryReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#categoryReslt .catgVewPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#categoryReslt .catgVewPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#categoryReslt .catgVewPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************** Product Pagination *****************************************/
#productsReslt .prodVewPagn ul li.inactive,
 #productsReslt .prodVewPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#productsReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#productsReslt .prodVewPagn{
    width: 250px;
    height: 30px;
	float:right;
	margin:25px 0 0 0;
	padding:0;
}
#productsReslt .prodVewPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#productsReslt .prodVewPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}

/************************************ Size Pagination **************************************/
#sizesReslt .sizeList ul li.inactive,
 #sizesReslt .sizeList ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#sizesReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#sizesReslt .sizeList{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#sizesReslt .sizeList ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#sizesReslt .sizeList ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************ Roles Pagination **************************************/
#matrlReslt .matrialPagn ul li.inactive,
 #matrlReslt .matrialPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#matrlReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#matrlReslt .matrialPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#matrlReslt .matrialPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#matrlReslt .matrialPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************ Units Pagination **************************************/
#unitsReslt .unitVewPagn ul li.inactive,
 #unitsReslt .unitVewPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#unitsReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#unitsReslt .unitVewPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#unitsReslt .unitVewPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#unitsReslt .unitVewPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************ SPECIFICATION Pagination **************************************/
#specatnReslt .spectnPagn ul li.inactive,
 #specatnReslt .spectnPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#specatnReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#specatnReslt .spectnPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#specatnReslt .spectnPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#specatnReslt .spectnPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/*---------------------------------------- OFFER -----------------------------*/
#offersReslt .offerVewPagn ul li.inactive,
 #offersReslt .offerVewPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#offersReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#offersReslt .offerVewPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#offersReslt .offerVewPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#offersReslt .offerVewPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/*--------------------------------------------- TAG CSS -----------------------------*/
#tagsReslt .tagVewPagn ul li.inactive,
 #tagsReslt .tagVewPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#tagsReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#tagsReslt .tagVewPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#tagsReslt .tagVewPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#tagsReslt .tagVewPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************ TAX Pagination **************************************/
#taxReslt .taxVewPagn ul li.inactive,
 #taxReslt .taxVewPagn ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#taxReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#taxReslt .taxVewPagn{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#taxReslt .taxVewPagn ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#taxReslt .taxVewPagn ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************** Sub Category Pagination *****************************************/
#categoryReslt .subCatg ul li.inactive,
 #categoryReslt .subCatg ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#categoryReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#categoryReslt .subCatg{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#categoryReslt .subCatg ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#categoryReslt .subCatg ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}
/************************************** Sub Sub Category Pagination *****************************************/
#categoryReslt .subsubcatg ul li.inactive,
 #categoryReslt .subsubcatg ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
	border:1px solid #bababa;
    cursor: default;
}
#categoryReslt .data ul li{
    list-style: none;
    font-family: arial narrow;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 12px;
}
#categoryReslt .subsubcatg{
    width: 250px;
    height: 50px;
	float:left;
	margin:25px 0 0 178px;
	padding:0;
}
#categoryReslt .subsubcatg ul li{
    list-style: none;
	float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial narrow;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#categoryReslt .subsubcatg ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}